@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.main-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.text-panel, .image-panel{
    width: 40%;
}
.text-panel .main-title{
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: .1rem;
    line-height: 35px;
}
.text-panel .subtitle{
    font-size: 2rem;
    font-weight: 400;
}
.text-panel .description{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 4rem;
}
.image-panel img{
    width: 100%;
}